.wrapper {
  background: rgb(12, 22, 55);
  padding: 20px 0px;
}

.item {
  height: 105px;
}

.item a {
  padding: 0 0 0 33px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  color: rgb(125, 155, 180);
  font-family: "Montserrat Regular";
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 1.5px;
} 

.item a:hover {
  background: rgb(20, 35, 70);
  color: rgb(150, 180, 200);
}

.item a.active {
  color: rgb(85, 125, 200);
  background: transparent;
  pointer-events: none;
}

.item a img {
  width: 63px;
  height: 63px;
  border-radius: 50%;
  margin-right: 30px;
}   