.formSummaryError {
  color: red;
}

.formInput:focus {
  outline: none;
}

.formInput.error {
  border: 3px solid red;
  color: red;
}

.formInput.error::placeholder {
  color: red;
}
 
.errorText {
  color: red;
} 